<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/c_nav.html"></div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent" style="background-color: #1e4356">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="/main"><span>Pro P.F</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="employ">공고</a></li>
                <li><a href="post">포스팅</a></li>
                <li><a href="com">커뮤니티</a></li>
                <li><a href="com">기업채널</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <ul>
            <li><a href="scrap"><i class="bi bi-bookmarks-fill"></i></a>
                <a href="pofo"><i class="bi bi-person-circle"></i></a></li>
        </ul>
    </div>
</header><!-- End Header -->

<main id="main">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>기업채널</h2>

                <ol>
                    <li><a href="../home/index.html">Home</a></li>
                    <li>Company Channel</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->
        <div class="box-container" style="margin-top: 50px;">
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업1</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업2</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업3</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업4</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업5</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업6</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업7</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업8</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="company-image">
                    <!-- 이미지 추가 -->
                    <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                </div>
                <h2>기업9</h2>
                <div class="plus-button-container">
                    <div class="plus-button">
                        <i class="bi bi-plus"></i>
                    </div>
                </div>
            </div>
            <!-- 더 많은 기업채널 박스 추가 -->

        </div>
        <div class="blog">
            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
</main><!-- End #main -->
</body>

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>

</html>