<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>


<main id="main">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>기업채널</h2>

                <ol>
                    <li><a href="../home/index.html">Home</a></li>
                    <li>Company Channel</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->
        <div class="box-container" style="margin-top: 50px;">
            <div class="box" th:each="company: ${companies}">
                <a th:href="@{/com_profile(id=${company.cyId})}">
                    <div class="company-image">
                        <!-- 이미지 추가 -->
                        <img src="/assets/img/blog/blog-recent-4.jpg" alt="기업 이미지">
                    </div>
                    <h2 th:text="${company.company_name}">기업1</h2>
                    <div class="plus-button-container">
                        <div class="plus-button">
                            <i class="bi bi-plus"></i>
                        </div>
                    </div>
                </a>
            </div>

        </div>

</main><!-- End #main -->
</body>

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>

</html>