<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .pastel-red-button {
      background-color: #ff5a5a !important; /* 파스텔 빨간색 */
    }

    .pastel-red-button:hover {
      background-color: #ff8888 !important; /* 밝은 파스텔 빨간색 */
    }
  </style>
</head>

<body>

<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>


<main id="main">

  <!-- ======= Contact Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>기업회원 정보 수정</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>CompanyMember Information Edit</li>
        </ol>
      </div>

    </div>
  </section><!-- End Contact Section -->

  <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div th:each="company : ${companies}">
            <form th:action="@{/c_edit}" method="post" role="form" class="php-email-form">
              <div class="row">
                <!-- 기업명 -->
                <div class="col-lg-12 mb-4">
                  <h5>기업명</h5>
                </div>
                <div class="col-md-6 form-group mt-12">
                  <input type="text" th:value="*{company.companyname}" name="companyname" class="form-control" id="company" placeholder="기업명 입력" required>
                </div>
                <!-- 아이디 -->
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>아이디</h5>
                </div>
                <div class="col-md-6 form-group mt-12">
                  <h5 th:text="*{company.cyId}"></h5>
                </div>

                <!-- 비밀번호 -->
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>비밀번호</h5>
                </div>
                <div class="form-group mt-12">
                  <input type="password" class="form-control" th:value="*{company.cy_pwd}" name="cy_pwd" placeholder="비밀번호 입력" required>
                </div>

                <!-- email -->
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>담당자 이메일</h5>
                </div>
                <div class="form-group mt-12">
                  <input type="email" class="form-control" th:value="*{company.manager_email}" name="manager_email" placeholder="이메일 입력" required>
                </div>

                <!-- phone -->
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>담당자 휴대폰</h5>
                </div>
                <div class="form-group mt-12">
                  <input type="tel" class="form-control" th:value="*{company.manager_phone}" name="manager_phone" placeholder="핸드폰 번호 입력" required>
                </div>

                <!-- 회사 링크 -->
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>회사 링크</h5>
                </div>
                <div class="form-group mt-12">
                  <input type="text" class="form-control" th:value="*{company.link}" name="link" placeholder="회사 링크 입력">
                </div>
                <div class="col-lg-12 mb-4">
                  <hr class="section-divider">
                  <h5>회원 탈퇴</h5>
                </div>
                <div class="form-group mt-12">
                  <button type="submit" class="pastel-red-button">탈퇴하기</button>
                  <hr class="section-divider">
                </div>
                <div class="my-3"></div>
                <div class="text-center">
                  <div class="text-center mt-4">
                    <a th:href="@{/c_pofo}">취소</a>
                    <button type="submit">저장</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Map Section ======= -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>

</html>