<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .contact {
      background-color: #f7f7f7;
      padding: 20px;
    }

    /* 제목에 대한 자동 줄바꿈 적용 */
    .entry-title {
      white-space: normal;
      word-wrap: break-word;
      line-height: 1.4; /* 텍스트의 줄 간격 조절 */
    }

    /* 내용에 대한 자동 줄바꿈 적용 */
    .job-description h5 {
      white-space: normal;
      word-wrap: break-word;
      line-height: 1.4; /* 텍스트의 줄 간격 조절 */
    }
  </style>
</head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Contact Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact</h2>
        <ol>
          <li>
            <a th:if="${session.m_id != null}" th:href="@{/main}">Home</a>
            <a th:if="${session.cy_id != null}" th:href="@{/c_main}">Home</a>
          </li>
          <li>Contact</li>
        </ol>
      </div>

    </div>
  </section><!-- End Contact Section -->

  <!-- ======= Contact Section ======= -->
  <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500" th:each="job : ${jobs}">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <form action="#" method="post" role="form" class="php-email-form">
            <div class="col-lg-12">
              <div class="col-md-12 mx-auto text-center">
                <h3 class="entry-title" th:text="${job.title}">제목</h3>
                <hr class="section-divider">
              </div>
              <div class="job-info-grid">
                <div class="job-info">
                  <p>모집 직무</p>
                  <h5 th:text="${job.work.getDisplayName()}">프론트 엔드 / 백엔드</h5>
                  <hr class="section-divider">
                </div>
                <div class="job-info">
                  <p>채용 형태</p>
                  <h5 th:text="${job.employ.getDisplayName()}">정규직</h5>
                  <hr class="section-divider">
                </div>
                <div class="job-info">
                  <p>채용 인원</p>
                  <h5><span th:text="${job.person}"></span>명</h5>
                  <hr class="section-divider">
                </div>

                <div class="job-info">
                  <p>근무 지역</p>
                  <h5 th:text="${job.area.getDisplayName()}">서울</h5>
                  <hr class="section-divider">
                </div>
                <div class="job-info">
                  <p>모집 기간</p>
                  <h5 th:text="${job.startdate} + ' ~ ' + ${job.enddate}"></h5>
                  <hr class="section-divider">
                </div>
                <div class="job-info">
                  <p>홈페이지</p>
                  <div th:if="${companylink != null and companylink != ''}">
                    <h5><a th:href="${companylink}">회사 홈페이지 링크</a></h5>
                  </div>
                  <div th:if="${companylink == null or companylink == ''}">
                    <h5>회사 링크 없음</h5>
                  </div>
                  <hr class="section-divider">
                </div>
              </div>
              <div class="py-4"></div>
              <div class="job-description">
                <p>공고 내용</p>
                <h5 th:utext="${job.content}">프론트 엔드, 백엔드 각 1명씩 모집하고 있습니다. <br> 풀스택 가능하신 분 우대합니다.</h5>
              </div>
              <hr class="section-divider">
              <div class="col-md-6 mx-auto text-center">
                <a th:if="${session.m_id != null || session.cy_id == null}" th:href="@{/scrapJob(id=${job.seq})}" class="simple-button">스크랩</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>
<script th:if="${message != null and message ne ''}" th:inline="javascript">
  alert([[${message}]]);  // 에러 메시지가 존재하고 비어있지 않을 경우 경고창을 띄움
</script>
</html>
