<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Our Services Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>공고</h2>
        <ol>
          <li><a href="../home/index.html">Home</a></li>
          <li>Employ</li>
        </ol>
      </div>

    </div>
  </section><!-- End Our Services Section -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12" data-aos="fade-up">
          <div class="service-box">
            <div class="row">
              <div class="col-md-3">
                <label for="work">모집 직무</label>
                <select name="work" id="work" class="category">
                  <option value="all">직무 선택</option>
                  <!-- 열거형(enum) 값을 반복하며 옵션을 생성합니다 -->
                  <th:block th:each="category : ${workCategories}">
                    <option th:value="${category}" th:text="${category.getDisplayName()}"></option>
                  </th:block>
                </select>
              </div>
              <div class="col-md-3">
                <label for="job">채용 형태</label>
                <select name="job" id="job" class="category">
                  <option value="all">채용 형태</option>
                  <th:block th:each="category : ${employCategories}">
                    <option th:value="${category}" th:text="${category.getDisplayName()}"></option>
                  </th:block>
                </select>
              </div>
              <div class="col-md-3">
                <label for="land">근무 지역</label>
                <select name="land" id="land" class="category">
                  <option value="all">지역 선택</option>
                  <th:block th:each="category : ${areaTypes}">
                    <option th:value="${category}" th:text="${category.getDisplayName()}"></option>
                  </th:block>
                </select>
              </div>
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                <div class="search123 category">
                  <input type="text" placeholder="검색어 입력">
                  <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <section class="about" data-aos="fade-up">
    <div class="container">
      <table class="ui celled  table">
        <thead>
        <tr>
          <th>공고명</th>
          <th>채용형태</th>
          <th>기업명</th>
          <th>근무지역</th>
          <th>시작일</th>
          <th>마감일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobs}">
          <td th:text="${job.title}">IOS 개발자 구함둥</td>
          <td th:text="${job.employ.getDisplayName()}">경력 </td>
          <td th:text="${job.company.company_name}">카카오</td>
          <td th:text="${job.area.getDisplayName()}">서울</td>
          <td th:text="${job.start_date}"></td>
          <td th:text="${job.end_date}">~ 4/30</td>
        </tr>
        </tbody>
      </table>

      <!-- 페이징 -->
      <section class="blog">
        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>
      </section>


    </div>
  </section>
</main>

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

<!--<script>-->
<!--  // 각 카테고리 선택 시 자동으로 검색 요청을 보냅니다.-->
<!--  document.querySelectorAll('.category').forEach(function(select) {-->
<!--    select.addEventListener('change', function() {-->
<!--      var workValue = document.querySelector('select[name="work"]').value;-->
<!--      var employValue = document.querySelector('select[name="job"]').value;-->
<!--      var areaValue = document.querySelector('select[name="land"]').value;-->

<!--      // 선택한 값들을 URL에 추가하여 검색 요청을 보냅니다.-->
<!--      var searchUrl = '/category_search?work=' + workValue + '&employ=' + employValue + '&area=' + areaValue;-->
<!--      window.location.href = searchUrl;-->
<!--    });-->
<!--  });-->
<!--</script>-->
</body>

</html>

