<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Blog_detail Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Community</h2>

        <ol>
          <li><a href="../home/index.html">Home</a></li>
          <li><a href="community.html">Community</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div >

          <article class="entry entry-single" th:each="community : ${communities}">

            <div class="entry-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title" th:text="${community.title}">
              커뮤니티 제목
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center">
                  <a th:href="@{/profile(memberId=${community.member.m_id})}">
                    <i class="bi bi-person" th:text="${community.member.m_id}"></i>
                  </a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock" th:text="${community.c_date}"></i></li>
              </ul>
            </div>

            <div class="entry-content" th:utext="${community.content}">
              안녕 이게 보이면 안된단다
            </div>

          </article><!-- End blog entry -->


<!--          <div class="blog-comments">-->

<!--            <div id="comment-1" class="comment">-->
<!--              <div class="d-flex">-->
<!--                <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>-->
<!--                <div>-->
<!--                  <h5><a href="">Georgia Reader</a></h5>-->
<!--                  <time datetime="2020-01-01">2020-01-04</time>-->
<!--                  <p>-->
<!--                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.-->
<!--                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End comment #1 &ndash;&gt;-->

<!--            <div class="reply-form">-->
<!--              <h4>댓글 달기</h4>-->
<!--              <form action="">-->
<!--                <div class="row">-->
<!--                  <div class="col form-group">-->
<!--                    <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Post Comment</button>-->
<!--              </form>-->

<!--            </div>-->

<!--          </div>&lt;!&ndash; End blog comments &ndash;&gt;-->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>

</html>