<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Blog_detail Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Community</h2>

        <ol>
          <li><a href="../home/index.html">Home</a></li>
          <li><a href="community.html">Community</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div th:each="community : ${communities}">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title" th:text="${community.title}">
              커뮤니티 제목
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center">
                  <a th:href="@{/profile(memberId=${community.member.mid})}">
                    <i class="bi bi-person" th:text="${community.member.mid}"></i>
                  </a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock" th:text="${community.c_date}"></i></li>
              </ul>
            </div>

            <div class="entry-content" th:utext="${community.content}">
              안녕 이게 보이면 안된단다
            </div>

            <a th:href="@{/community_edit(id=${community.seq})}" th:if="${session.m_id == community.member.mid}">수정하기</a>
            <a th:href="@{/community_delete(id=${community.seq})}" th:if="${session.m_id == community.member.mid}">삭제하기</a>

          </article><!-- End blog entry -->

          <form action="#" th:action="@{/clike(id=${community.seq})}" method="post">
            <button type="submit">좋아요</button>
            <label th:text="${community.c_like}"></label>
          </form>

          <div class="blog-comments">

            <div id="comment-1" class="comment" th:each="comment : ${community.comments}">
              <div class="d-flex">
                <div>
                  <h5 th:text="${comment.member.mid}">이름</h5>
                  <p th:text="${comment.content}">
                    내용
                  </p>
                </div>
              </div>
            </div><!-- End comment #1 -->

            <div class="reply-form">
              <h4>댓글 달기</h4>
              <form action="/ccreate" method="post">
                <div class="row">
                  <div class="col form-group">
                    <input type="hidden" name="communityId" th:value="${community.seq}">
                    <textarea name="content" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
              </form>

            </div>

          </div><!-- End blog comments -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>

</body>

</html>