<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Blog_detail Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Posting</h2>

        <ol>
          <li><a href="../home/index.html">Home</a></li>
          <li><a href="community.html">Posting</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div th:each="posting : ${postings}">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title" th:text="${posting.p_title}">
              커뮤니티 제목
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center">
                  <a th:href="@{/profile(memberId=${posting.member.mid})}">
                    <i class="bi bi-person" th:text="${posting.member.mid}"></i>
                  </a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock" th:text="${posting.p_date}"></i></li>
<!--                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>12</li>-->
<!--                <li class="d-flex align-items-center"><i class="bi bi-bookmark"></i></li>-->
              </ul>
            </div>

            <div class="entry-content" th:utext="${posting.p_content}">
              안녕 이게 보이면 안된단다
            </div>

<!--            <div class="entry-footer">-->
<!--              <i class="bi bi-folder"></i>-->
<!--              <ul class="cats">-->
<!--                <li><a href="#">시리즈</a></li>-->
<!--              </ul>-->

<!--              <i class="bi bi-tags"></i>-->
<!--              <ul class="tags">-->
<!--                <li><a href="#">태그</a></li>-->
<!--                <li><a href="#">태그</a></li>-->
<!--                <li><a href="#">태그</a></li>-->
<!--              </ul>-->
<!--            </div>-->

            <form th:action="@{/like(postId=${posting.p_seq})}" method="post">
              <button type="submit">좋아요</button>
              <label th:text="${posting.p_like}"></label>
            </form>
            <a th:href="@{/posting_edit(id=${posting.p_seq})}" th:if="${session.m_id == posting.member.mid}">수정하기</a>
            <a th:href="@{/posting_delete(id=${posting.p_seq})}" th:if="${session.m_id == posting.member.mid}">삭제하기</a>

          </article><!-- End blog entry -->


          <div class="blog-comments">

            <div class="reply-form">
              <h4>댓글 달기</h4>
              <form action="/pcreate" method="post">
                <div class="row">
                  <div class="col form-group">
                    <input type="hidden" name="postId" th:value="${posting.p_seq}" />
                    <textarea name="content" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
              </form>
            </div>
            <div>
              <h2> 댓글 </h2>
              <ul>
                <li th:each="comment : ${posting.comments}">
                  <p th:text="${comment.member.mid}"></p>
                  <p th:text="${comment.content}"></p>
                </li>
              </ul>
            </div>

          </div><!-- End blog comments -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>


</body>

</html>