<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<main id="main">

  <!-- ======= Our Portfolio Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <ol>
          <li><a href="post">최신</a></li>
          <li><a href="postLike">인기</a></li>
        </ol>
        <ol>
          <li><a href="../home/index.html">Home</a></li>
          <li>Posting</li>
        </ol>
      </div>

    </div>
  </section><!-- End Our Portfolio Section -->

  <!-- ======= Portfolio Section ======= -->
  <section class="portfolio">
    <div class="container">

      <script>
        window.addEventListener('load', function() {
          const titleElement = document.getElementById('postTitle');
          const maxHeight = 6 * parseFloat(getComputedStyle(titleElement).lineHeight); // 6줄까지의 높이 계산 (line-height * 6)

          if (titleElement.clientHeight > maxHeight) {
            // 텍스트가 높이를 넘어가면 처리
            let text = titleElement.textContent;
            while (titleElement.clientHeight > maxHeight) {
              text = text.slice(0, -1); // 한 글자씩 줄여가며 높이를 확인
              titleElement.textContent = text + '...';
            }
          }
        });

      </script>
      <div class="row">
        <div class="col-md-3 mb-4" th:each="posting : ${postings}">
          <div class="card">
            <div class="card-container">
              <a th:href="@{/post_de(id=${posting.getSeq})}"><p class="card-title" id="postTitle" th:text="${posting.title}">제목 1</p></a>
            </div>
            <div class="card-details">
              <span class="card-id" th:text="${posting.date}">날짜 1</span>
              <i class="fa fa-heart"><span class="card-likes" th:text="${posting.plike}"> 좋아요</span></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:if="${postings.totalPages > 1}">
      <div class="pagination">
        <ul>
          <li th:each="i : ${#numbers.sequence(0, postings.totalPages - 1)}">
            <a th:href="@{/post(page=${i})}" th:text="${i}" th:class="${currentPage == i} ? 'active'"></a>
          </li>
        </ul>
      </div>
    </div>

  </section><!-- End Portfolio Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footerFragment"></div>


</body>

</html>